<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="simpleMockWebService"
                 type="SimpleMockWebService.Configurations.SimpleMockWebServiceSettings, SimpleMockWebService.Configurations"
                 requirePermission="false" />
    </configSections>

    <simpleMockWebService>
        <apis>
            <api key="GetContentById" method="get" url="/api/content/@id" src="~/resources/get.content.id.json" delay="0" />
            <api key="PostContent" method="post" url="/api/content" src="~/resources/post.content.json" delay="0" />
            <api key="PutContentById" method="put" url="/api/content/@id" src="~/resources/put.content.id.json" delay="0" />
            <api key="DeleteContentById" method="delete" url="/api/content/@id" src="~/resources/delete.content.id.json" delay="0" />
        </apis>
    </simpleMockWebService>
</configuration>