<?xml version="1.0" encoding="utf-8" ?>
<simpleMockWebService>
    <globalSettings webApiPrefix="api" verbs="GET,POST,PUT,DELETE" jsonFileExtensions="json,js,txt" />
    <apiGroups>
        <apiGroup key="Content">
            <apis>
                <api key="GetContents" group="Content" method="get" url="/api/contents" src="~/responses/get.contents.json" />
                <api key="GetContentById" method="get" url="/api/content/1" src="get.content.1.json" delay="0" />
                <api key="PostContent" method="post" url="/api/content" delay="0" />
                <api key="PutContentById" method="put" url="/api/content/1" src="/responses/put.content.1.json" delay="0" />
                <api key="DeleteContentById" method="delete" url="/api/content/1" src="~/responses/delete.content.1.json" />
            </apis>
        </apiGroup>
    </apiGroups>
</simpleMockWebService>
