<?xml version="1.0" encoding="utf-8" ?>
<simpleMockWebService>
    <globalSettings webApiPrefix="api" verbs="GET,POST,PUT,DELETE" />
    <apiGroups>
        <apiGroup key="Content">
            <apis>
                <api key="GetContents" group="Content" method="get" url="/api/contents" src="~/resources/get.contents.json" />
                <api key="GetContentById" method="get" url="/api/content/@id" src="~/resources/get.content.id.json" delay="0" />
                <api key="PostContent" method="post" url="/api/content" delay="0" />
                <api key="PutContentById" method="put" url="/api/content/@id" src="~/resources/put.content.id.json" delay="0" />
                <api key="DeleteContentById" method="delete" url="/api/content/@id" src="~/resources/delete.content.id.json" />
            </apis>
        </apiGroup>
    </apiGroups>
</simpleMockWebService>
