<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="simpleMockSettings" type="Aliencube.SimpleMock.Configs.SimpleMockSettings, Aliencube.SimpleMock.Configs" requirePermission="false" />
    </configSections>

    <simpleMockSettings>
        <globalSettings webApiPrefix="api" verbs="GET,POST,PUT,DELETE" jsonFileExtensions="json,js,txt" />
        <apiGroups>
            <apiGroup key="Content">
                <apis>
                    <api key="GetContents" group="Content" method="get" url="/api/contents" src="~/responses/get.contents.json" />
                    <api key="GetContentById" method="get" url="/api/content/1" src="get.content.1.json" delay="0" />
                    <api key="PostContent" method="post" url="/api/content" delay="0" />
                    <api key="PutContentById" method="put" url="/api/content/1" src="/responses/put.content.1.json" delay="0" />
                    <api key="DeleteContentById" method="delete" url="/api/content/1" src="~/responses/delete.content.1.json" />
                </apis>
            </apiGroup>
        </apiGroups>
    </simpleMockSettings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>