@{
    ViewBag.Title = "Demo - Simple Mock Web Service";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <h1>@Html.Raw(ViewBag.Title)</h1>
            <p>Click the buttons below while opening your browser developer tool, and you will be able to see what will have happened.</p>
        </div>
    </div>
</div>

<div ng-controller="demoController">
    <div class="row" ng-repeat="item in items">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>{{item.title}}</h1>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <pre>{{item.method | uppercase}} {{item.url}}</pre>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="button" class="btn btn-primary pull-right" value="Submit" ng-click="getJsonResult($index, item.method, item.url)" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <pre>{{item.result}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
