@{
    ViewBag.Title = "Demo - Simple Mock Web Service";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <h1>@Html.Raw(ViewBag.Title)</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    </div>
</div>