<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="simpleMockWebService"
                 type="SimpleMockWebService.Configurations.SimpleMockWebServiceSettings, SimpleMockWebService.Configurations"
                 requirePermission="false" />
    </configSections>

    <simpleMockWebService configSource="SimpleMockWebService.config" />
</configuration>
